* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    background-image: linear-gradient(165deg, #3538ff, #007aff, #00a2ff, #00c0f9, #1dd9e1);
}